
    <%- include('../../partials/header')%>
    <body>
        <%- include('../../partials/navbar')%>
            <div class="container">
                <hr>
        <div class="card">
            <div class="card-header">
                <h4>Novo Artigo</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/articles/save">
                    <input class="form-control" type="text" name="title" id="article" placeholder="Digite o titulo do artigo"><br><br>
                    <label>Categoria</label><br>
                    <select name="categories" class="form-control">
                        <% categories.forEach( () => {%>
                        <option value="<%= categories.id%>"><%= categories.title%></option>
                        <%});%>
                    </select>
                    <button class="btn btn-success">Criar Artigo</button>
                </form>
            </div>
           
    
        </div>
    </div>
    
    </body>
    
        <%- include('../../partials/footer')%>
    
    <script src="/tinymce/tinymce.min.js"></script>

    <script>
        tinymce.init({
            selector: "#article",
            plugins: [
                'image link table media autolink'
            ]
        })
    </script>
    